/* Vuetify Overrides */
.v-application {
  font-family: "Poppins", sans-serif !important;
}
.v-application .headline {
  font-family: "Poppins", sans-serif !important;
}

.v-breadcrumbs__item {
  color: #ff5722  !important;
}

.v-breadcrumbs__item--disabled {
  color: grey !important;
}

/* General CSS */

.headline-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
